<button ng-click="tableParams.sorting({})" class="btn btn-default pull-right">Clear sorting</button>
<p><strong>Sorting:</strong> {{tableParams.sorting()|json}}
<p><strong>Page:</strong> {{tableParams.page()}}</p>
<p><strong>Count per page:</strong> {{tableParams.count()}}</p>

<table ng-table="tableParams" class="table">
  <tr ng-repeat="user in $data">
    <td data-title="'Name'" sortable="'name'">{{user.name}}</td>
    <td data-title="'Age'" sortable="'age'">{{user.age}}</td>
  </tr>
</table>