<div class="row">

	<div class="row">
		<button ng-click="tableParams.sorting({})" class="btn btn-default pull-right">Clear sorting</button>
	</div>
	<div class="row">

		<form class="form-horizontal">
			<!-- Search input-->
			<div class="form-group">
				<label class="col-md-2 control-label" for="searchinput">Search</label>
				<div class="col-md-2">
					<input id="searchinput" name="searchinput" type="search" placeholder="Search user" class="form-control input-md" ng-model="searchUser">
				</div>
			</div>

		</div>
	</form>

	<div class="row">
		<table ng-table="tableParams" class="table table-striped table-bordered">
			<tr ng-repeat="user in $data">

				<td data-title="'#'" sortable="'id'" style="width: 50px">
					<a href="#/customers/{{user.id}}">{{user.id}}</a>
				</td>
				<td data-title="'First name'" sortable="'firstName'">{{user.firstName}}</td>
				<td data-title="'Last name'" sortable="'lastName'">{{user.lastName}}</td>
				<td data-title="'Age'" sortable="'age'">{{user.age}}</td>
				<td data-title="'City'" sortable="'city'">{{user.address.city}}</td>
				<td style="width: 90px">
					<button go-click="/customers/{{user.id}}/edit" class="btn btn-info btn-sm">
						<span class="glyphicon glyphicon-edit"></span>
					</button>
					<button go-click="/customers/{{user.id}}/delete" class="btn btn-danger btn-sm">
						<span class="glyphicon glyphicon-remove"></span>
					</button>
				</td>
			</tr>
		</table>
	</div>
</div>